<div>
  <h2 class='mt-6 text-xl font-medium text-center text-rose-500'>
    Objednávka bola odmietnutá.
  </h2>
  <p class='text-center mt-4 text-zinc-600 px-4'>
    S najväčšou pravdepodobnosťou sme zistili, že niečo nemáme. 
    Skús si objednať opäť o chvíľu alebo sa zastav za nami pri pulte.
  </p>
</div>