<div>
  <h2 class='mt-6 text-xl font-medium text-center'>
    Tvoja objednávka bola podaná.
  </h2>
  <p class='text-center mt-4 text-zinc-600 px-4'>
    Akonáhle sa do nej pustíme, dáme ti vedieť.
  </p>
</div>