<%= form_with model: order do |f| %>
  <div class='divide-y divide-zinc-200'>
    <% order.order_items.each do |order_item| %>
      <%= render order_item, f: %>
    <% end %>
  </div>
<% end %>

<div class='mt-12 flex justify-center'>
  <%= render 'slide_to_finalize', order_id: @order.id %>
</div>