<main class='container mx-auto px-8'>
<div class='flex flex-col text-lg text-center justify-center min-h-screen'>
  <span class='text-5xl'>游뱋</span>
  <h1 class='mt-6 text-center text-4xl font-semibold tracking-tighter relative'>Je n치m c콘ou!</h1>
  <p class='mt-12'>
    Singul치r in코trument치lu z치ludn칳ch slov m치me zvl치dnut칳, no tvoje meno
    zatia vysklo켿ova콘 nevieme.
  </p>
  <p class='mt-4'>
    Ako 콘a m치me vola콘?
  </p>
  <%= form_with model: @customer, class: 'mt-6' do |form| %>
    <div class="my-4">
      <%= form.text_field :name, placeholder: 'Meno', class: "text-center placeholder-gray-300 block rounded-md border border-gray-200 px-3 py-2 mt-2 w-full" %>
      <% if @customer.errors[:name].any? %>
        <div class='text-sm mt-2 text-red-400'>
          Eh.. prep치캜, tvoje meno je?
        </div>
      <% end %>
    </div>
    <%= form.submit 'Tak ma volajte', class: 'w-full text-white bg-black py-2 rounded-lg' %>
  <% end %>

  <div class='mt-10 text-sm text-gray-400'>
    Kliknut칤m na "Tak ma volajte" prehlasuje코, 쬰 si tvoje meno m칪쬰me pam칛ta콘 a pou쮂셨a콘 za 칰캜elom fungovania kaf칠em appky.
  </div>
</div>
</main>
