<main class='container mx-auto px-8'>
  <div class='flex flex-col mt-10 text-lg text-center'>
    <h1 class='text-center text-4xl font-semibold tracking-tighter'>Stiahni si appku</h1>
    <div class='mt-10 space-y-8'>
      <div>
        <div class='relative py-3'>
          <svg class='absolute inset-1/2 -translate-x-1/2 -translate-y-1/2 -z-10' width="60" height="59" viewBox="0 0 60 59" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M59.5 31.5C59.5 47.7924 46.7924 59 30.5 59C14.2076 59 0.5 36.7924 0.5 20.5C0.5 4.2076 14.2076 0 30.5 0C46.7924 0 59.5 15.2076 59.5 31.5Z" fill="#B9F0D6"/>
          </svg>
          <span class='text-white font-semibold text-2xl'>1</span>
        </div>
        <div class='mt-4'>
          Klikni na ikonku
          <svg class='inline mx-1 -translate-y-1' width="18" height="23" viewBox="0 0 18 23" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M17.5 8V21C17.5 21.8284 16.8284 22.5 16 22.5H2C1.17157 22.5 0.5 21.8284 0.5 21V8C0.5 7.17157 1.17157 6.5 2 6.5H6H12H16C16.8284 6.5 17.5 7.17157 17.5 8Z" stroke="#007AFF"/>
            <rect x="7" y="3" width="4" height="9" fill="#F4F4F4"/>
            <path d="M9.35355 0.646447C9.15829 0.451184 8.84171 0.451184 8.64645 0.646447L5.46447 3.82843C5.2692 4.02369 5.2692 4.34027 5.46447 4.53553C5.65973 4.7308 5.97631 4.7308 6.17157 4.53553L9 1.70711L11.8284 4.53553C12.0237 4.7308 12.3403 4.7308 12.5355 4.53553C12.7308 4.34027 12.7308 4.02369 12.5355 3.82843L9.35355 0.646447ZM9.5 15V1H8.5V15H9.5Z" fill="#007AFF"/>
          </svg>
          na spodnej lište.
        </div>
      </div>

      <div>
        <div class='relative py-3'>
          <svg class='absolute inset-1/2 -translate-x-1/2 -translate-y-1/2 -z-10' width="58" height="59" viewBox="0 0 58 59" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M57.5 39.0001C57.5 55.2925 41.7924 59 25.5 59C9.2076 59 0 55.2924 0 39C0 22.7076 9.2076 0 25.5 0C41.7924 0 57.5 22.7077 57.5 39.0001Z" fill="#B9ECF0"/>
          </svg>
          <span class='text-white font-semibold text-2xl'>2</span>
        </div>
        <div class='mt-4'>
          Scrollni nižšie a klikni na <br />
          <strong>Pridať na plochu</strong>.
        </div>
      </div>

      <div>
        <div class='relative py-3'>
          <svg class='absolute inset-1/2 -translate-x-1/2 -translate-y-1/2 -z-10' width="59" height="62" viewBox="0 0 59 62" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M59 29.4999C59 45.7923 37.7924 61.4999 21.5 61.4999C5.2076 61.4999 0 45.7923 0 29.4999C0 13.2075 15.7076 0.499903 32 0.499903C55 -2 59 13.2075 59 29.4999Z" fill="#D4C8F8"/>
          </svg>
          <span class='text-white font-semibold text-2xl'>3</span>
        </div>
        <div class='mt-4'>
          Klikni na <strong>Pridať</strong>. Potom si otvor appku priamo zo svojej plochy. Budem na teba čakať.
        </div>
      </div>
    </div>

  </div>
  <div class='absolute bottom-5 left-0 right-0 flex justify-center'>
    <svg width="125" height="77" viewBox="0 0 125 77" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M37.6814 60.4658C38.4909 60.6417 39.2898 60.1282 39.4658 59.3186L42.3336 46.1268C42.5095 45.3172 41.996 44.5183 41.1864 44.3424C40.3769 44.1664 39.578 44.68 39.402 45.4895L36.8529 57.2156L25.1268 54.6664C24.3172 54.4905 23.5183 55.004 23.3424 55.8136C23.1664 56.6231 23.68 57.422 24.4895 57.598L37.6814 60.4658ZM0.738232 3.81114L36.7382 59.8111L39.2618 58.1889L3.26177 2.18886L0.738232 3.81114Z" fill="#D4C8F8"/>
      <path d="M82.5171 59.2257C82.6417 60.0447 83.4067 60.6076 84.2257 60.4829L97.572 58.452C98.391 58.3273 98.9539 57.5624 98.8293 56.7434C98.7047 55.9244 97.9397 55.3615 97.1207 55.4861L85.2573 57.2914L83.452 45.428C83.3273 44.609 82.5624 44.0461 81.7434 44.1707C80.9244 44.2953 80.3615 45.0603 80.4861 45.8793L82.5171 59.2257ZM121.792 5.11098L82.7918 58.111L85.2082 59.889L124.208 6.88902L121.792 5.11098Z" fill="#B9F0D6"/>
      <path d="M59.9393 76.0607C60.5251 76.6464 61.4749 76.6464 62.0607 76.0607L71.6066 66.5147C72.1924 65.9289 72.1924 64.9792 71.6066 64.3934C71.0208 63.8076 70.0711 63.8076 69.4853 64.3934L61 72.8787L52.5147 64.3934C51.9289 63.8076 50.9792 63.8076 50.3934 64.3934C49.8076 64.9792 49.8076 65.9289 50.3934 66.5147L59.9393 76.0607ZM59.5 -3.01779e-08L59.5 75L62.5 75L62.5 3.01779e-08L59.5 -3.01779e-08Z" fill="#B9ECF0"/>
    </svg>
  </div>
</main>