<div id="hi">HELOU</div>
<div id="qr-scanner" data-controller='camera'>
  <button data-action='camera#testy'>REMOVE</button>
  <video data-camera-target='video' hidden></video>
  <canvas data-camera-target="canvas" style="width: 300px; height: 300px;" hidden></canvas>
  <p data-camera-target='code'></p>
</div>
