<div id='badge'>
  <% case order.state.to_sym %>
  <% when :open %>
    <div class='px-3 py-1 rounded-2xl bg-zinc-200 text-zinc-700'>
      Otvorená
    </div>
  <% when :finalized %>
    <div class='px-3 py-1 rounded-2xl bg-amber-400 text-amber-50'>
      Podaná
    </div>
  <% when :received %>
    <div class='px-3 py-1 rounded-2xl bg-blue-500 text-blue-50'>
      Prijatá
    </div>
  <% when :prepared %>
    <div class='px-3 py-1 rounded-2xl bg-sky-500 text-sky-50'>
      Pripravená
    </div>
  <% when :delivered %>
    <div class='px-3 py-1 rounded-2xl bg-green-400 text-green-50'>
      Odovzdaná
    </div>
  <% when :cancelled %>
    <div class='px-3 py-1 rounded-2xl bg-rose-500 text-rose-50'>
      Odmietnutá
    </div>
  <% end %>
</div>
