<% content_for :title, "Objednávka ##{@order.id}" %>
<% content_for :back do %>
  <%= link_to params[:back_path] || app_path, class: 'text-sky-500' do %>
    &lt; Späť
  <% end %>
<% end %>

<%= turbo_stream_from :order %>

<div id='<%= dom_id @order%>'>
  <%= render "orders/states/#{@order.state}", order: @order %>
</div>