<main class='container mx-auto'>
  <div class='mt-10 text-lg'>
    <section class='px-6 text-center'>
      <h1 class="text-4xl tracking-tighter font-semibold">
        驕됊잺&nbsp; kaf칠em
      </h1>
      <p class='mt-8 leading-relaxed text-xl'>
        Dobroty z kaf칠em priamo z miesta. 
      </p>

      <div class='mx-auto mt-8 w-64 h-64 rounded-full bg-gray-100'>

      </div>

      <div class='mt-14'>
        <%= render_button "Stiahnu콘 appku", as: :link, href: welcome_download_path, class: 'bg-neutral-900 w-full' %>
      </div>
    </section>
    <div class='mt-20 w-full overflow-hidden translate-y-1'>
      <svg viewBox="0 0 393 70" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 70H393V62.9027C393 62.9027 357 68.1403 297.5 38.8986C238 9.65687 227 14.8941 216 16.6402C205 18.3863 157 34.5344 116.5 21.8775C76 9.2205 62.6181 -8.73895 0 4.85635V70Z" fill="#fde047"/>
      </svg>
    </div>
    <section class='text-left px-6 bg-yellow-300'>
      <h2 class="text-3xl tracking-tight font-medium text-neutral-900 -translate-y-3">Ako to funguje?</h2>
      <p class='mt-4 text-neutral-800 font-light leading-relaxed pr-2'>Objedna콘 si priamo z miesta je 칰plne jednoduch칠. Sta캜칤 si stiahnu콘 appku, dobi콘 쬰t칩ny a u쮂셨a콘 si rozhovor, k칳m ti priprav칤me, 캜o si 쬰l치코.</p>
      <div class='mt-10 space-y-8'>
        <div class='flex'>
          <div class='flex flex-col items-center mr-6'>
            <div class='w-10 h-10 text-3xl flex justify-center items-center drop-shadow-md'>游뿣</div>
          </div>
          <div class=''>
            <h3 class='font-medium'>E-쬰t칩ny</h3>
            <p class='font-light text-neutral-800 mt-2'>
              Namiesto toho, aby si za hotovos콘 dostal klasick칠 쬰t칩ny, dobijeme ti e-쬰t칩ny. 
              Tie s칰 ulo쬰n칠 v tvojom telef칩ne, tak쬰 sa o ne nemus칤코 b치콘. E-쬰t칩ny aj klasick칠 쬰t칩ny z칤ska코 na tom istom mieste.
            </p>
          </div>
        </div>
        <div class='flex'>
          <div class='flex flex-col items-center mr-6'>
            <div class='w-10 h-10 text-3xl flex justify-center items-center drop-shadow-md'>九괦잺</div>
          </div>
          <div class=''>
            <h3 class='font-medium'>Objedn치vka</h3>
            <p class='font-light text-neutral-800 mt-2'>
              P치r kliknutiami si vyberie코, na 캜o m치코 chu콘, a "zaplat칤코" priamo v telef칩ne. 
              My sa pust칤me do pr치ce a po코leme ti upozornenie, ke캞 bude tvoja objedn치vka hotov치.
            </p>
          </div>
        </div>
        <div class='flex'>
          <div class='flex flex-col items-center mr-6'>
            <div class='w-10 h-10 text-3xl flex justify-center items-center drop-shadow-md'>游꺐</div>
          </div>
          <div class=''>
            <h3 class='font-medium'>Dobr칰 chu콘!</h3>
            <p class='font-light text-neutral-800 mt-2'>
              M칪쬰코 si pr칤s콘 pre hotov칰 objedn치vku. Ver칤me, 쬰 ti bude chuti콘.
            </p>
          </div>
        </div>
      </div>
    </section>
    <div class='w-full overflow-hidden -translate-y-1'>
      <svg viewBox="0 0 393 87" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M393 3.09944e-06H0V8.82093C0 8.82093 36 2.31137 95.5 38.6546C155 74.9979 166 68.4887 177 66.3186C188 64.1485 236 44.0786 276.5 59.8094C317 75.5402 330.382 97.8613 393 80.9642V3.09944e-06Z" fill="#fde047"/>
      </svg>

    </div>
    <section class='px-6 mt-10 -translate-y-2'>
      <h2 class="text-3xl tracking-tight font-medium -translate-y-3">U sa to nesie</h2>
      <div class='mt-6 px-4'>
        <div class='w-3/4 h-7 bg-gradient-to-r from-gray-950 to-gray-700 rounded-full px-3 flex justify-end items-center text-gray-500'>
          <div>1x</div>
        </div>
        <div class='mt-2 h-7 bg-gradient-to-r from-indigo-500 via-sky-500 to-teal-300 rounded-full px-3 flex justify-end items-center text-white'>
          <div class='font-semibold'>1.3x</div>
        </div>
        <div class='text-sm text-gray-600 mt-2 text-center'>Hot-dog vs. hot-dog objednan칳 cez appku</div>
      </div>
      <p class='font-light text-gray-800 mt-6'>
        Hot-dog objednan칳 cez kaf칠em appku chut칤 쬿캞om v priemere 1.3x viac.
        Dobre, to sme si vymysleli. No 캜o ak je to naozaj tak?
      </p>
      <div class='mt-10 mb-10'>
        <%= render_button "Idem rie코im", as: :link, href: welcome_download_path, class: 'bg-neutral-900 w-full' %>
      </div>
    </section>
    <section class='text-sm text-gray-600 mt-2 mb-5 text-center'>Made with &lt;3 by <span class='text-blue-500'>mrshq.io</span></section>
  </div>
</main>