<% content_for :title, 'e-žetóny' %>
  
<div data-controller='qr-generator'>
  <%#= f.label :title, 'Názov', class: 'block text-zinc-900 font-medium' %>
  <%#= f.text_field :title, class: 'rounded-lg mt-2 bg-zinc-100 border border-zinc-300 px-5 py-2.5 w-full focus:ring-0 focus:border-blue-300 focus:bg-zinc-50 transition duration-150' %>
</div>

<canvas id='canvas'></canvas>