<% content_for :title, 'Kategórie' %>
<% content_for :action do %>
  <%= link_to new_category_path, class: 'inline-block ml-4 text-xl transition text-sky-500 hover:text-sky-200' do %>
    <%= icon('fa-solid', 'plus') %>
  <% end %>
<% end %>

<% if @categories.none? %>
  <%= link_to new_category_path do %>
    <div class='p-4 text-zinc-500 border border-dashed border-zinc-600 rounded-xl text-center'>
      Zatiaľ tu žiadna kategória nie je. 
      <br />
      Klikni sem, aby si pridal prvú.
    </div>
  <% end %>
<% end %>


<div id="categories" class='space-y-4'>
  <% @categories.each do |category| %>
    <%= render category %>
  <% end %>
</div>
